body {background-color: #FFEDED;}
hr {border-style: dotted none none;
   border-color:#FFCCD2;
   border-width:10px;
 width:7%;}
h1 { font-family: cursive;
  color:#D77FA1 ;}
h2 {color:#D77FA1 ;}
h3 {color:#D77FA1 ;}
